
#top-image-wrap {
  text-align: center;
  margin-bottom: 30px;

  #top-image {
    border-radius: 50%;
  }
}

#top-title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 1.35rem;
}

#search-wrap {
  border-bottom: 1px solid #aaa;
  padding-bottom: 30px;
}

#courses-items-list {
  
  @include course-item;

  #pagination-wrap {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}