
#form-title-wrap {
  padding-bottom: 5px;
  border-bottom: 1px solid #aaa;

  #form-title-text {
    font-weight: 600;
  }
}

#form-description-wrap {
  margin-top: 30px;
}

#form-button-wrap {
  margin-top: 30px;
}